<div class="dialog-modal">
  <div class="menu-center">
    <h1 class="game-over-title neon-glow-red">GAME OVER</h1>
    
    <div class="game-over-score">Puntuación: {{ score() }}</div>
    
    <div class="game-over-high-score">Récord: {{ highScore() }}</div>
    
    @if (score() >= highScore()) {
      <p class="new-record neon-glow-yellow">¡Nuevo Récord!</p>
    }
    
    <a routerLink="/game" class="btn-retry neon-border-cyan">REINTENTAR</a>
    
    <a routerLink="/welcome" class="btn-menu">Menú Principal</a>
  </div>
</div>